.team-selection {

  display:inline-block;
  height:120px;
  width:220px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  text-align:left;
  }
  
  @import "compass/css3";
  
  html, body{
    margin:0px; padding:0px;
  }
  
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  header{
    text-align: Center;
    z-index: 1;
    position:fixed; 
    width:100%; 
    height: inherit; 
    background:rgba(#fff);
   
  }
  
  header section{
    font-size: 250%;
    max-width:80%;
    color:white;
    background:rgba(0,0,0,1); 
    display:inline-block; 
    padding:10px 30px; 
    height: auto;
    line-height: inherit; 
    text-align:center;
    font-family: 'Roboto Slab', serif; 
    text-decoration:none;
    text-transform:uppercase; 
    letter-spacing:2px; 
    font-weight:700;
    position: relative;
    top:0px;
    left:0px;
   
    
  }
  #hero1{
   background:url(https://media1.giphy.com/media/kvYQSEwUPhtMCYS98k/giphy.gif?cid=790b7611968104dca6bc7153bece0a9944cf29af130d0fb1&amp);
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
   
  }
  #hero2{background: url(https://media3.giphy.com/media/6odUwsfT1xl1fuhXlM/giphy.gif?cid=790b7611c968023fd25245e5375cda7151fa544dd6b646f8&amp);
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
  }
  .hero, .content{
    text-align:center; 
    position:relative;
    width: 100%;
  }
  
  .inner{
    min-height:600px;
    position: relative;
  
  }
  
  .hero .inner{
    background: rgba(0,0,0,0.6) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}
  
  
  .copy{
    position:absolute; 
    top:61%; 
    height:10em; 
    margin-top:-5em; 
    width:100%;
  }
  
  .hero h1, .hero p{ 
    color:#fff;
  }
  
  .content h1, .content p{
    color:#333;
  }
  
  h1{
    margin:0px;
    font-family: 'Roboto Slab', serif;
    font-weight:400;
    font-size:32px;
    padding:0px 20px;
  }
  
  p{
    font-family: 'Noto Sans', sans-serif; 
    font-size:14px;
    padding:0px 20px;
  }
  
  
  .carousel {
      background:#512DA8;
  }
  
  .carousel-item {
    height: 300px;
   
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }
  
  .carousel-caption {
  
      background-color:rgba(0,0,0,.3);
      padding: 20px 20px 0 20px;
      position:absolute;
      right:0px;
      left:5%;
      top:30px;
      height: 250px;
      width: 90%;
      z-index: 0;
  
  }
  
  
  
  
   
  .carousel-indicators {
  
  z-index: 0;
  
  
  }
  
   
  .carousel-control-prev {
  
  z-index: 0;
  
  
  }
   
  .carousel-control-next {
  
  z-index: 0;
  
  
  }
  #logo{
  opacity: .3;
  
  
  }
  
  
  